.home {
  
  background-color: var(--bg-color);
  min-height: 100vh;

  .test{
    position: fixed;
    top: 0;
  }

  .header-container {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    padding-top: 2rem;

    position:relative;
    height: 50vh;

    transition: height 1s;

    .website-name {
      position:absolute;

      font-size: 5rem;
      width: 80%;
      left: calc(50% - 40%);
      top: 50%;

      transition: top 1s, left 1s, font-size 1s, width 1s;

      @media (max-width: 772px) {
        font-size: 3rem;
        top: 40%;
      }
    }

    .home-searchbar {
      position:absolute;

      width: 40%;

	    right: calc(50% - 20%);
      top: 80%;

      transition: top 1s, right 1s;

      @media (max-width: 772px) {
        top: 90%;
      }
    }

    .account-buttons {
      position: absolute;
      right: 0;
    }
    

  }

  .header-active {
    height: 5vh;

    .website-name {
      font-size: 2.7rem;
      width: 30%;

      top: 30%;
      left: 0;
    }

    .home-searchbar {
      width: 30%;
      top: 30%;
      // right: 5%;
    }
  }
  

  .website-name {
    // color: #e43f5a;
    color: var(--primary-color);
    font-family: 'Dancing Script', cursive, Georgia, 'Times New Roman', Times, serif;
    text-align: center;
  }

  .card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    
    padding-top: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;

    // position: absolute;
    // top: 60%;
  }
}