.search-bar {
	display: flex;
	flex-direction: column;
	justify-content: center;
  align-items: center;
  // position: absolute;
  // left: 50%;
	// transform: translate(-50%, -50%);
	margin-top: 3.125rem;
	font-family: 'Segoe UI', 'Segoe', Tahoma, Helvetica, Arial, sans-serif;
	padding: 2em;
  text-align: center; 

	&.before-submit {
		top: 40%;
	}

	&.after-submit {
    top: 20%;
		animation: move_up 1.5s ease-in-out;
	}

	@keyframes move_up {
		0% {top: 40%}
		100% {top: 20%}
	}

	.search-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	.searchbar {
		float: right;
		background-color: #333;
		color: #fff;
		padding: 6px 10px;
		width: 25vw;
		border: none;
		margin-top: 1px;
		margin-right: 8px;
		font-family: 'Segoe UI Light', 'Segoe UI', 'Segoe', Tahoma, Helvetica, Arial, sans-serif;
		font-size: 1em;
		border-bottom: #fff solid 2px;
		transition: width 0.3s;
	}

	.searchbar::placeholder {
		color: #fff;
		font-family: 'Segoe UI Light', 'Segoe UI', 'Segoe', Tahoma, Helvetica, Arial, sans-serif;
		font-size: 1em;
		/* transition: 0.2s; */
	}

	.searchbar:focus {
		width: 40vw;
		font-family: 'Segoe UI Light', 'Segoe UI', 'Segoe', Tahoma, Helvetica, Arial, sans-serif;
		font-size: 1em;
		transition: 0.3s;
		/* Stops the input box from inheriting the styling from the inputs on the request form */
		border-bottom: #fff solid 2px;
		outline: none;
	}

	.fa-search {
		color: #fff;
		font-size: 1.5em;
		padding-top: 5px;
		/* margin-right: 40px; */
	}
	.fa-search:hover {
		cursor: pointer;
	}
}