@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

html, body {
	min-height: 100vh;

	--primary-color: #42cdff;
	--dark-primary-color: #37a6cf;
	--bg-color: #333;

	background-color: var(--bg-color);
}
h1 {
	color: var(--primary-color);
    font-family: 'Dancing Script', cursive, Georgia, 'Times New Roman', Times, serif;
}